// === Variables ===

// Fonts
$mainFont: 'PT Serif', serif;
$secondaryFont: 'Merriweather', serif;
$mobileMenuFont: 'Roboto', sans-serif;
$headerFont: 'Yeseva One', cursive;

// Text colors

// Background colors

// Border colors

// Breakpoints

// Transitions

// Other variables
