/* BUTTONS */

.btn-start {
  @extend %btn;
  width: 189px;
  height: 41px;

  &--big {
    width: 200px;
    height: 44px;
    border-radius: 50px;
  }

  &--transparent {
    color: $mainColor;
    border: 1px solid $mainColor;
    background: transparent;
    border-radius: 50px;
  }
}

.btn-next {
  @extend %btn;
  width: 189px;
  height: 41px;

  &.disabled {
    color: $btnDisabledTextColor;
    background: $btnDisabledBgColor;
    box-shadow: inset 0px 4px 10px $btnDisabledShadowColor;
  }
}
